{% extends 'base.html' %}

{% block title %}
<h1>{{reporter.nome|capfirst}}</h1>
{% endblock title %}

{% block content %}
<div class="contente">
    <div class="row">
        <strong>CPF: </strong>
        <p>{{reporter.cpf}}</p>
        <strong>Email:</strong>
        <p>{{reporter.email}}</p>
    </div>
</div>

<div>
    <form id="exemplo"
          action="{% url 'relacionamento:reporter_delete' reporter.pk %}" method="post">

    {% csrf_token %}
    <input type="hidden" id="reporter_id" name="reporter_id"
           value="{{reporter.id}}">
    <button type="submit" class="btn btn-outline-danger btn-lg" form="exemplo"
            value="deleter"><i class="bi bi-trash3"></i>
        Sim, deletar
    </button>

    <a class="btn btn-outline-light btn-lg" role="button"
       href="{% url 'relacionamento:reporter' %}">
        <i class="bi bi-arrow-left"></i>
        Voltar
    </a>
    </form>
</div>

{% endblock content %}
