{% extends 'base.html' %}

{% block title %}
    <h1>Editar reporter</h1>
{% endblock title %}

{% block content %}
    <form id="exemplo" action="{% url 'relacionamento:reporter_update' objeto.id %}" method="post">
        {% csrf_token%}
        {% for  field in form%}
            <div class="mb-3">
                {{field.label_tag}} {{field}}
                {%if field.help_text%}
                  <div class="form-text">{{field.help_text|safe}}</div>
                {%endif%}
                <div class="invalid-feedback">{{field.errors}}</div>
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-outline-success btn-lg"
                form="exemplo" value="Salvar">
                <i class="bi bi-floppy"></i>
                Salvar
        </button>

        <button type="reset" class="btn btn-outline-danger btn-lg" form="exemplo"
            value="Reset"><i class="bi bi-arrow-clockwise"></i>
            Limpar
        </button>

        <a class="btn btn-outline-light btn-lg" role="button"
           href="{% url 'relacionamento:reporter' %}">
            <i class="bi bi-arrow-left"></i>
            Voltar
        </a>
        </form>
{% endblock content %}