{% extends 'minimal.html'%}

{%block menu%}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Menu</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            URLs e estáticas
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'relacionamento:primeira_view' %}">Primeira view</a></li>
            <li><a class="dropdown-item" href="{% url 'relacionamento:saudacao' %}">Saudação</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{% url 'relacionamento:primeira_view_classe' %}">Primeira view - c</a></li>
            <li><a class="dropdown-item" href="{% url 'relacionamento:saudacao_view_classe' %}">Saudação - c</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Informações
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'relacionamento:reporter' %}">Reporter</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Contato
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'contato' %}">Enviar mensagem(função)</a></li>
            <li><a class="dropdown-item" href="{% url 'class_contact' %}">Enviar mensagem(classe)</a></li>
          </ul>

        </li>

        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>

      {% if user.is_authenticated%}
        <span class="navbar-text text-white px-2">
          <a class="nav-link" href="{% url 'profile' %}">
            <i class="bi bi-person-fill"></i> {{ user.first_name }}
          </a>
        </span>
        <div class="me-2"></div>
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button class="btn btn-outline-danger btn"
                  role="button" type="submit">
            <i class="bi bi-box-arrow-in-left"></i></button>
        </form>
        {% else %}
        <a class="btn btn-outline-primary btn"
           role="button" href="{% url 'login' %}">
          <i class="bi bi-box-arrow-in-right"></i>
        </a>
      {% endif %}

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
{%endblock menu%}